[submodule "spack_clean"]
	path = deploy/spack_clean
	url = https://github.com/RemoteConnectionManager/spack.git
	branch = clean/develop
[submodule "spack_develop"]
	path = deploy/spack_develop
	url = https://github.com/RemoteConnectionManager/spack.git
	branch = develop
